body{
    background-image:url("doraemon.jpg");
    
}
div{
    background-color: transparent;
    padding: 20px;
    width: fit-content;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:2px 2px 2px 2px blue;
    margin: 10px;
}